:root {
  /* Color Definitions */
  --dark1: #0c131e;
  --dark2: #1c232e;
  --dark3: #2c333e;
  --dark4: #3c434e;
  --dark5: #4c535e;
  --dark6: #5c636e;
        
  --lime: #00ff00;
  --green: #009966;
        
  --light1: #ffffff;
  --light2: #dddddd;
  --light3: #bbbbbb;
  --light4: #999999;
  --light5: #777777;

  /* Default color scheme */
  --background: var(--light1);
  --foreground: var(--dark1);
  --important: var(--green);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark color scheme */
    --background: var(--dark1);
    --foreground: var(--light1);
    --important: var(--lime);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
