.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.title {
  font-size: 24pt;
}

.subtitle {
  font-size: 14pt;
  color: var(--light3);
}

.separator {
  width: 100%;
  margin: 12px 0;
  padding: 0;
  border: 1px solid var(--dark3);
}

.formContainer {
  margin-top: 12px;
  padding: 12px;
  font-size: 14pt;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  gap: 6px;
}

.formField {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  width: 100%;
}

.formActions {
  composes: formField;
  width: 100%;
  justify-content: flex-end;
  gap: 6px;
}

.required {
  color: var(--important);
  font-size: 18pt;
}

.input {
  padding: 6px;
  border: 1px solid var(--dark3);
  background-color: var(--dark2);
  outline: none;
  font-size: 14pt;
}

.inputText {
  composes: input;
  flex-grow: 1;
}

.inputButton {
  composes: input;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.inputButton:hover {
  background-color: var(--dark3);
}

@media (prefers-color-scheme: dark) {
  /* TODO */
}